.mercado-body-players-details {
    display: flex;
    position: fixed;
    top: 0;
    left: 70%; 
    width: 45%; 
    height: 100%;
    z-index: 1;
    align-items: center;
   
}

.mercado-body-players-details h1{
    margin-top:1rem;
    font-family: 'Staatliches', sans-serif;
    font-size:30rem
}
.name{
    color:greenyellow;
    font-size:50px;
    height: fit-content;
    margin:0;
    font-family: 'Staatliches', sans-serif;
}
.name-long{
    color:greenyellow;
    font-size:25px;
    height: fit-content;
    margin:0;
    font-family: 'Staatliches', sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}
.player-details-card {
    border: 1px solid;
    width: fit-content;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid greenyellow;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    border-radius: 10px;
    height:fit-content;

}
.player-details-card-portero {
    border: 1px solid;
    width: fit-content;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid greenyellow;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    border-radius: 10px;
    height:fit-content;
}
.player-details-card section{
    background-color: rgb(0, 0, 0);
   
    height:5rem;
    justify-content: center;
   
    font-family: 'Staatliches', sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.player-info-section{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgb(41, 41, 41);
}
.player-info-section-photo-container{
display: flex;
justify-content: space-evenly;
font-size:20px;
font-family: 'Staatliches', sans-serif;
align-items: center;
padding:2rem 0;
background-image: url("../images/vanishing-stripes.svg");

}
.player-info-section-photo-container p{
margin:0;
font-size:30px ;
}
.player-position{
    color:white;
    
    text-shadow: 3px 3px 3px rgb(125, 232, 140);;
}
.player-info-section-photo-container img{
margin:0 auto
}
.player-picture{
width:13rem;
height:13rem;
border:2px solid greenyellow;
border-radius:10px;
margin:1rem;
}
.team-of-player{
    display: flex;
    flex-direction: column;
}
.team-of-player p{
    font-size:15px
}

.team-badge{
    height:4rem;
    width:4rem;
    object-fit: contain;
}

.player-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding:1rem 2rem;
    gap: 3rem; 
    text-align: center;
}
.player-info p{
  width:100%;
  margin:0;
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
  font-size:15px;
 
}
.player-info-button-section{
    background-color: rgb(41, 41, 41);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    ;
}

.player-info-button-section button{
    height:2rem;
    width:6rem;
    
    background-color: red;
    cursor:pointer;
    border:1px solid rgb(255, 0, 0);
    border-radius:10px;
    color:white;
    margin:0;
    font-family: 'Rubik', sans-serif;
    margin:2rem 0;
    margin-left:10px;

    }
.player-details-card button:hover{
    background-color: rgb(142, 15, 15);;
    border-radius: 10px ;
    color:whitesmoke;
    border:2px solid rgb(255, 0, 0);
}
.player-details-card-portero button:hover {
    background-color: rgb(142, 15, 15);;
    border-radius: 10px ;
    color:whitesmoke;
    border:2px solid rgb(255, 0, 0);
}

/*RESPONSIVE*/
@media (max-width:480px){
    .mercado-body-players-details{
        width:100%;
        left:0%;
        background-color: rgba(0, 0, 0, 0.701)
  
    }
    .player-details-card-portero{
        height:fit-content
    }
    .player-details-card{
       width:95%;
       height: fit-content
      
    }
    .player-info-section{
        display: flex;
        flex-direction: column;
    
    }
    .player-info-section-photo-container{
        text-align: center;
        width:100%;
        display: flex;
    }

    .player-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding:0px 2rem;
        gap: 10px; 
        text-align: center;;
        height: 20rem;
    }
    .team-badge img{
        width:20px;
        height:20px
    }
}