.mercado-body-players-details{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(63, 63, 63, 0.83); 
    z-index: 2;
    align-items: center;
    justify-content: center;
    
}
.mercado-body-players-details h1{
    margin-top:1rem;
    font-family: 'Staatliches', sans-serif;
   
}
.player-details-card{
    border:1px solid;
    width:fit-content;
    margin:3rem auto;
    background-color: rgb(0, 0, 0);
    color:white;
    border:2px solid greenyellow;
    font-family: 'Rubik', sans-serif;
    font-size:12px;
    border-radius:10px

}
.player-details-card section{
    background-color: rgb(0, 0, 0);
    color:greenyellow;
    height:3rem;
    justify-content: center;
    font-size:30px;
    font-family: 'Staatliches', sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.player-info-section{
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: rgb(41, 41, 41);
}
.player-picture{
width:10rem;
height:13rem;
border:2px solid greenyellow;
border-radius:10px;
margin:1rem

}
.player-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding:0px 2rem;
    gap: 10px; 
    text-align: center;
}
.player-info p{
  width:100%;
  margin:0;
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
}
.player-info-button-section{
    background-color: rgb(41, 41, 41);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    ;
}
.player-info-button-section button:first-child{
    height:3rem;
    width:9rem;
    padding:7px;
   background-color: rgb(255, 255, 255);;
    cursor:pointer;
   border:1px solid rgb(128, 0, 255);
   border-radius:10px;
    color:rgb(128, 0, 255);;
    margin:0;
    font-family: 'Rubik', sans-serif;
    margin:2rem 0;
    margin-left:10px
}
.player-details-card button:hover:first-child{
    background-color: rgb(207, 160, 255);
    border-radius: 10px ;
    color:rgb(255, 255, 255);
    border:1px solid rgb(207, 160, 255)
      }
.player-info-button-section button:last-child{
    height:3rem;
    width:9rem;
    padding:7px;
    background-color: rgb(255, 255, 255);;
    cursor:pointer;
    border:1px solid rgb(255, 0, 0);
    border-radius:10px;
    color:rgb(255, 0, 0);;;
    margin:0;
    font-family: 'Rubik', sans-serif;
    margin:2rem 0;
    margin-left:10px
    }
.player-details-card button:hover:last-child{
    background-color: rgb(255, 0, 0);;
    border-radius: 10px ;
    color:rgb(255, 255, 255);
    border:1px solid rgb(255, 0, 0);
}

/*RESPONSIVE*/
@media (max-width:480px){
    .mercado-body-players-details{
        width:100%;
        
    }
    .player-details-card{
       width:95%;
    }
    .player-info-section{
        display: flex;
        flex-direction: column;
    }
    .player-info-section-photo-container{
        text-align: center;
        width:100%;
    }
    .player-info-section-photo-container img{
        width:7rem;
        height:9rem;
    }
    .player-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding:0px 2rem;
        gap: 10px; 
        text-align: center;
    }
}