.contacto-container{
    height:100vh
}
.contacto-title{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top:2rem;
    font-family: 'Staatliches', sans-serif;
}
.contacto-title h1{
  font-size: 3rem;
}