.faq-container{
    height:100vh
}
.faq-container{
    height:100vh
}
.faq-title{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top:2rem;
    font-family: 'Staatliches', sans-serif;
}
.faq-title h1{
  font-size: 3rem;
}
.accordion-body{
    color:white
}