.mercado-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:rgb(33, 37, 41);
    margin:0;
    height:6rem
}
.mercado-title h1{
    margin-top:1rem;
    font-family: 'Staatliches', sans-serif;
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 3px 3px 3px rgb(125, 232, 140);
    font-size:5rem
}
.mercado-body{
    display: flex;
    flex-direction: row;;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;;
    width:100%
}

/*RESPONSIVE*/
@media (max-width:480px){
    .mercado-container{
        height: fit-content;
    }
    .mercado-title h1{
        font-size: 3rem;
    }
}