.plantilla-container{
    height:100vh
}
.plantilla-header{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Staatliches', sans-serif;
    font-size:50px;
    background: linear-gradient(to bottom, rgb(123, 224, 152), rgb(205, 255, 181));
    margin:0;
    padding:1rem 0 0 0;
}
.team-name{
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.team-data {
 display: flex;
gap:20rem;
 align-items: center;
 text-align: center;
 background-color: rgb(92, 92, 92);
 border-radius:20px;
 padding:0.5rem 3rem
 
}
.team-data p{
    font-family: 'Staatliches', sans-serif;
    font-size:20px; 
    color:white;
    margin:0;
   
}
.plantilla-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.your-players-section{
    background-color: rgb(255, 255, 255);
}
.your-eleven-section{
    background-color: rgb(255, 255, 255);
}
.team-data-icons{
    color:greenyellow
}
