.team-name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Staatliches', sans-serif;
    font-size:50px;
    color:greenyellow;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0); /* Ancho y color del borde (propiedad específica de WebKit) */
  
}
.plantilla-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.your-players-section{
    background-color: rgb(255, 255, 255);
}
.your-eleven-section{
    background-color: rgb(255, 255, 255);
}

