.plantilla-container{
    height:100vh
}
.plantilla-header{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Staatliches', sans-serif;
    font-size:50px;
    background: linear-gradient(to bottom, rgb(123, 224, 152), rgb(205, 255, 181));
    margin:0;
    padding:1rem 0 0 0;
}
.team-name{
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.team-data {
 display: flex;
gap:20rem;
 align-items: center;
 text-align: center;
 background-color: rgb(63, 63, 63);
 border-radius:20px;
 padding:0.5rem 3rem
 
}
.team-data p{
    font-family: 'Staatliches', sans-serif;
    font-size:20px; 
    color:white;
    margin:0;
   
}
.plantilla-body{
    display: flex;
    flex-direction: row;
    
}
.your-players-section{
    background-color: rgb(255, 255, 255);
}
.your-eleven-section{
    background-color: rgb(255, 255, 255);
}
.team-data-icons{
    color:greenyellow
}

/*RESPONSIVE*/
@media (max-width:480px){
    .plantilla-container{
        width:100%
    }
    .plantilla-header{
        width:100%;
    }
   .team-name h1{
    font-size: 3rem;
    margin:0
   }
   .team-name{
    padding:0 5px
   }
   .team-data{
    width:100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap:1rem;
  text-align: center;
  align-items: center;
  border-radius:0
  
}
.team-data p{
    font-size:10px
  }

  .plantilla-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0 auto;
    gap:0;
    width:100vw;
  }
}