.card-stat-container{
    border-radius:10px;
    width:30rem;
    height:25rem;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.card-stat-title{
    background-color: rgb(71, 71, 71);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height:3rem;
    font-family: 'Staatliches', sans-serif;
    font-size:2rem;
    gap:2rem;
    border-radius:10px;
    border: 2px solid greenyellow;
    -webkit-box-shadow: 0px 0px 18px -5px rgb(93, 136, 29);
    -moz-box-shadow: 0px 0px 18px -5px rgb(132, 192, 42);
    box-shadow: 0px 0px 18px -5px greenyellow
}
.card-stat-title button{
    width: 1.8rem; /* Ajusta el tamaño del botón según tus necesidades */
    height: 1.8rem;
    border:none;
    border-radius: 50%; /* Hace que el borde sea circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgb(71, 71, 71);
    color:white;
    box-shadow: 4px 4px 8px -1px rgb(0, 0, 0),
        -4px -4px 8px -1px rgb(94, 94, 94);
      
}
.card-stat-title button:hover{
    
    box-shadow: inset 4px 4px 8px -1px rgb(0,0,0),
        inset -4px -4px 8px -1px rgb(94, 94, 94);
}
 .card-stat-body{
    background-color: rgb(19, 19, 19);
    border-radius:10px;
    border:2px solid greenyellow
 }
.card-stat-body ul{
  list-style: none;
  margin-top: 10px;
  padding:0px 2rem
}
.card-stat-body ul li{
    display: flex;
    justify-content: space-between;
    padding:2px 5px;
    align-items: center;
    text-align: center;
    background-color: rgb(57, 57, 57);
    border-radius:10px;
    margin-top:5px;
    color:white;
}
.card-stat-body ul li p{
    margin:0px;
    font-family: 'Rubik', sans-serif;
}
.card-stat-body button{
    border:none;
    padding:5px;
    background-color: rgb(128, 0, 255);;
    color:rgb(255, 255, 255);
    border-radius:10px;
    border:1px solid rgb(128, 0, 255);
    font-size:10px
}
.card-stat-body button:hover{
    border:1px solid rgb(207, 160, 255);
    background-color: rgb(207, 160, 255);
    color:white;
}

/*RESPONSIVE*/
@media (max-width:480px){
    .card-stat-container{
        width:95%;
        height:fit-content
    }
    .card-stat-title{
        background-color: rgb(71,71,71);
    }
}