.standings-container{
    width:700px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap:5px;
    display: flex;
    justify-content: center;
    margin-top:1rem;
}
.standings-title{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height:2.5rem;
    font-family: 'Staatliches', sans-serif;
    font-size:2rem;
    gap:2rem;
    border-radius:10px;
    border: 2px solid greenyellow;
    -webkit-box-shadow: 0px 0px 18px -5px rgb(93, 136, 29);
    -moz-box-shadow: 0px 0px 18px -5px rgb(132, 192, 42);
    box-shadow: 0px 0px 18px -5px greenyellow
}
.standings-body{
    display:flex;
    flex-direction: column;
    padding:0 1rem 0 1rem;
    background-color: rgb(0, 0, 0);
    border-radius:10px;
    width:100%;
    border:2px solid greenyellow
}
.titles-standings{
    display: flex;
    flex-direction: row;
    color:white;
 justify-content: space-between;
 gap:3rem;
 padding:0 1rem
}
.titles-standings p{
  color:greenyellow;
  margin:0;
 
}
.results-standings{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding:0 1rem 1rem 1rem;
    margin-top:10px
}
.results-standings-by-team{
    display: flex;
    flex-direction: row;
    color:white;
    justify-content: space-between;
    background-color: rgb(66, 66, 66);
    border-radius:10px;
    font-family: 'Rubik', sans-serif
}


.results-standings p{
    margin-left:5px;
    display: flex;
    align-items: center;
    text-align: center;
    margin:0;
    font-size:16px;
    padding: 0 1rem
}
.blue{
    background-color: rgb(27, 123, 249);
    border-radius:10px;
    width:10px;
    text-align: center;
}
.orange{
    background-color: rgb(255, 162, 0);
    border-radius:10px;
    width:10px;
    text-align: center;
}
.green{
    background-color: rgb(96, 200, 72);
    border-radius:10px;
    width:10px;
    text-align: center;
}
.red{
    background-color: rgb(255, 0, 0);
    border-radius:10px;
    width:10px;
    text-align: center;
}
.grey{
    background-color: rgb(130, 130, 130);
    border-radius:10px;
    width:10px;
    padding:0px
}

/*RESPONSIVE*/
@media (max-width:480px){
    .standings-container{
        width:100vw
    }
    .titles-standings{
        display: flex;
        flex-direction: row;
        color:white;
     justify-content: space-between;
   gap:0;
     font-size:8px;
     
    }
    
    .titles-standings p{
      margin:5px 0 0 0;
     font-size:10px
    }
   .results-standings-by-team{
    padding:0 10px;
    font-family: 'Rubik', sans-serif;
   }
   .results-standings-by-team p{
 
    font-family: 'Rubik', sans-serif;
   }
    .results-standings p{
        padding:0
    }
    .blue{
        color:rgb(27, 123, 249);
        background:none;
    }
    .orange{
        color:rgb(255, 162, 0);
        background:none;
    }
    .green{
        color:rgb(96, 200, 72);
        background:none;
    }
    .grey{
        color:rgb(188, 188, 188);
        background:none;
    }
    .red{
        color:rgb(255, 0, 0);
        background:none;
    }
}