.navbar{
    padding:0
}
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:3rem;
    font-family: 'Rubik', sans-serif;
    
}
.navbar-nav{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:0 auto;
  
}
.branding{
    display:flex;
    flex-direction: column;
    gap:1px
}
.navbar-brand{
    color:greenyellow;
    font-size:25px;
    padding:0
}
.navbar-brand:hover{
    color:greenyellow;
}
.laliga-logo{
    display:flex;
    align-items: center;
    margin:0 auto;
    width:3rem;
    height:1rem
}
.nav-link{
    border-radius:10px;
    color: rgb(255, 255, 255) !important;
    font-size:12px
}
.nav-link:hover{
    border-radius:10px;
    color:greenyellow !important
}


.navbar-collapse{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:0 auto;
}
.login-button{
    background-color: black;
    color:greenyellow;
    border:1px solid greenyellow;
    padding:5px;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
}
.login-button:hover{
    color:rgb(0, 0, 0);
    background-color:greenyellow;
    padding:5px;
    border-radius: 10px;
}
