.navbar{
    padding:0
}
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:3rem;
    font-family: 'Rubik', sans-serif; 
}
.navbar-nav{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:0 auto;
}
.branding{
    display:flex;
    flex-direction: row;
    gap:1px
}
.footballfantasy-logo img{
    width:3rem;
    height:3rem;
}
.footballfantasy-logo{
  align-items: center;
  text-align: center;
  margin:auto;
}
.navbar-brand{
    color:greenyellow;
    font-size:25px;
    padding:0
}
.navbar-brand:hover{
    color:greenyellow;
}
.laliga-logo{
    display:flex;
    align-items: center;
    margin:0 auto;
    width:3rem;
    height:1rem
}
.nav-link{
    border-radius:10px;
    color: rgb(255, 255, 255) !important;
    font-size:15px
}
.nav-link:hover{
    border-radius:10px;
    color:greenyellow !important
}


.navbar-collapse{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:0 auto;
}
.login-button{
    background-color: black;
    color:greenyellow;
    border:1px solid greenyellow;
    padding:5px;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
}
.login-button:hover{
    color:rgb(0, 0, 0);
    background-color:greenyellow;
    padding:5px;
    border-radius: 10px;
}
.userName{
    background-color:greenyellow;
    margin:0 2rem 0 0;
    border-radius:10px;
    padding:.5rem 1rem;
    font-family: 'Staatliches', sans-serif;

}


/*RESPONSIVE*/
@media (max-width:480px){
    .navbar-nav{
        padding-top:1rem
    }
    .branding{
        display:flex;
        flex-direction: row;
        gap:3rem
    }

    .d-flex{
       padding:2rem;
       display:flex;
       justify-content: center;
    }  
    .navbar-toggler{
        background-color:  greenyellow
    }
}