.home-not-logged-container{
background: url("https://pbs.twimg.com/media/F54k83OWwAIQYQE.jpg:large");
border-bottom:2px solid greenyellow;
background-repeat: no-repeat;
background-size: cover;
height:30rem;
background-position-y: -200px;
    
}
.home-not-logged-body{
    display: flex;
    flex-direction: column;
}
.home-not-logged-description h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    color:white;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    background:url("../images/vanishing-stripes.svg");
    
    
}
.home-not-logged-options-section{
    display: flex;
    gap:25%
}
.home-not-logged-options{
    padding:1rem;
    background-color: rgba(0, 0, 0, 0.468);
    border-radius:10px;
    height:fit-content;
    width: fit-content;
    margin-left:2rem
}
.options-item{
    display: flex;
    align-items: center;

}
.options-item p{
    font-size:20px;
    font-family: 'Rubik', sans-serif;
    margin:1px ; color:white
}
.options-item i{
color: greenyellow;
width:2rem
}

.options-image img{
    height:20rem;
    width:30rem
}


/*RESPONSIVE*/

@media (max-width:480px){
    .home-not-logged-container{
      background: url("../images/_MG_3432.jpg");
        background-repeat: no-repeat;
        background-size:cover ;
        background-position-x: -100px;
        height:auto
    }
    .home-not-logged-description h1{
        padding:2rem 1rem 1rem 1rem;
 font-size:30px;
        
    }
 
    .home-not-logged-description h1{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Staatliches', sans-serif;
        color:white;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
        background:transparent
        
    }
    .home-not-logged-options-section{
        display: flex;
        flex-direction: column;
   
       
    }
    .options-item p{
        font-size:15px;
        font-family: 'Rubik', sans-serif;
        margin:1px 
    }
    .home-not-logged-options{
       
        display:flex;
        flex-direction: column;
        gap:1rem;
        background-color: transparent;
      
    }

      
}