.your-team-body{
    width: 35%;
    background-color: rgb(205, 255, 181); ; 
  
   padding-top:2rem;
  
}
.your-team-body h1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;;
    margin-top:2rem;
    font-family: 'Staatliches', sans-serif;
    color:rgb(0, 0, 0)
}
.a{
    height:400px;
    overflow-y: scroll;
}
/*RESPONSIVE*/
@media (max-width:480px){
    .your-team-body{
        width:100%;
        height:fit-content
    }
}

