.tuxi-body{
    width:60%;
    background: linear-gradient(to bottom, rgb(197, 246, 191),   rgb(143, 221, 133, 0.004) ); 
    height:100vh;  font-family: 'Rubik', sans-serif;;
}
.tuxi-body h1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;;
    margin-top:2rem; 
    font-family: 'Staatliches', sans-serif;
    color:rgb(75, 207, 26)
}
.tuxi-body select{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    font-family: 'Rubik', sans-serif;
    color:rgb(0, 0, 0);
    
}
.football-pitch-section img{
    
    display: flex;
    justify-content: center;
    transform: scale(1.2);
margin:2rem auto;
}
.tuxi-button-section{
    display: flex;
    justify-content: center;
    text-align: center;
   gap:5rem;
    margin:0 auto;
    color:rgb(255, 255, 255);
   
}
.remaining-time p{
    margin:0;
    background-color: black;
 
}
.tuxi-button-section button{
    padding:5px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom, #740dc3, #b46fe8);
    border:2px solid #4f1d75;
    display:flex;
    align-items: centeR;
    justify-content:center;
    text-align: center;
}
.tuxi-button-section button:hover{
  background-color: rgb(121, 167, 52);;
  border:2px rgb(121, 167, 52);;
  color:rgb(255, 255, 255);
}
.tuxi-button-section p{
    display:flex;
    align-items: centeR;
    justify-content:center;
    text-align: center;
}
