.tuxi-body{
    width:65%;
    background-color: rgb(205, 255, 181); 
    font-family: 'Rubik', sans-serif;
    padding-top:2rem;
    
}
.tuxi-body h1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;;
    margin-top:2rem; 
    font-family: 'Staatliches', sans-serif;
    color:white;
    -webkit-text-stroke: 1px rgb(64, 100, 9);
}
.tuxi-body select{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    font-family: 'Rubik', sans-serif;
    color:rgb(0, 0, 0); 
}
.football-pitch-section{
    border-radius:15px
}
.football-pitch-section img{
    width: 38rem;height:22rem;
    display: flex;
    justify-content: center;
    margin:1rem auto;
    border-radius:15px
}
.tuxi-button-section{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:5rem;
    margin:0rem auto 5rem auto;
    color:rgb(255, 255, 255);
}
.tuxi-time-remaining{
    background-color: rgb(248, 248, 248);
    border:2px solid rgb(0, 0, 0);
    color:black;
    border-radius:10px;
    padding:0rem 1rem
}
.fa-triangle-exclamation{
    color:red
}
.tuxi-time-remaining p{
 margin:0;
 
font-family: 'Staatliches', sans-serif;
}
.tuxi-button-section button{
    padding:1rem 2rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color:rgb(73, 73, 73); ;
    border:2px solid greenyellow;
    display:flex;
    align-items: centeR;
    justify-content:center;
    text-align: center;
    font-family: 'Staatliches', sans-serif;;
    font-size: 30px;
    
    
}
.tuxi-button-section button:hover{
 transform: scale(1.2);
 transition: ease-in 0.3s;
}
.tuxi-button-section p{
    display:flex;
    align-items: centeR;
    justify-content:center;
    text-align: center;
}

/*RESPONSIVE*/
@media (max-width:480px){
    .tuxi-body{
       width:100%;
       padding: 2rem 0
    }
    .football-pitch-section{
        display: flex;
        justify-content: center;
        margin-top:30px
    }
    .football-pitch-section img{
        margin-top:7rem;
        rotate: 90deg;
        
    }
    .tuxi-button-section{
        padding-top:7rem
    }
    select {
        width: 80%;
        margin: 0 auto; 
        height:2rem
      }
  
}
