.tuxi-body{
    width:65%;
    background-color: rgb(205, 255, 181); 
    font-family: 'Rubik', sans-serif;
    padding-top:2rem;
    
}
.tuxi-body-options{
    display: flex;
    height:5rem;
    justify-content: center;
    align-items: center;
    gap:5rem
}

.tuxi-body select{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    font-family: 'Rubik', sans-serif;
    color:rgb(0, 0, 0); 
    height:2rem;
    width:10rem;
}
select option:first-child {
    font-size: 13px; 
  }
.football-pitch-section {
   
    box-shadow: 0px 0px 18px 4px greenyellow;
  height: 22rem;
  width: 35rem;
  background-image: url("../images/pizarra.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
}

.pitch-row {
    display: flex;
    justify-content: center;
    width: 100%;
    gap:.5rem;
    flex-direction: column;
  }
  .pitch-player {
    width: fit-content;
    padding:0 .5rem 0 .5rem;
    height: fit-content;
    border: 3px solid greenyellow;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color:black;
    gap:1rem
  }
  .playernumber-long{
    font-size:15px;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    width:150px;
    height:fit-content
  }
  .playernumber-short{
    font-size:20px;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
  }
  .pitch-player p{
   margin:0;
   
  }
  .fa-circle-xmark{
    font-size: 15px;
    color:red
  }
.tuxi-button-section{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:2rem;
 
    color:rgb(255, 255, 255);
    height:5rem;
    justify-content: center;
    align-items: center;
}
.tuxi-time-remaining{
    background-color: rgb(248, 248, 248);
    border:2px solid rgb(0, 0, 0);
    color:black;
    border-radius:10px;
    padding:0rem 1rem;
    width:fit-content;
    display: flex;
    gap:5px;
    align-items: center;
}
.tuxi-time-remaining p:last-child{

 width:9rem
}
.fa-triangle-exclamation{
    color:red
}
.tuxi-time-remaining p{
 margin:0;
font-family: 'Staatliches', sans-serif;
}
.tuxi-time-remaining p:last-child{
    color:red;
    margin:0;
   font-family: 'Staatliches', sans-serif;
   }
.tuxi-button-section button{
    padding:0rem 1rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color:rgb(73, 73, 73); ;
    border:2px solid greenyellow;
    display:flex;
    align-items: centeR;
    justify-content:center;
    text-align: center;
    font-family: 'Staatliches', sans-serif;;
    font-size: 30px;
  
}
.tuxi-button-section button:hover{
 transform: scale(1.2);
 transition: ease-in 0.3s;
}
.tuxi-button-section p{
    display:flex;
    align-items: centeR;
    justify-content:center;
    text-align: center;
}

/*RESPONSIVE*/
@media (max-width:480px){
    .tuxi-body{
       width:100%;
       justify-content: center;
       align-items: center;
       height:70rem
    }
    .tuxi-body-options{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap:5px;
    }
  
    .football-pitch-section{
        display: flex;
        justify-content: center;
        rotate: 90deg;
     margin-top:10rem;
        margin-left:-115px;
        height:25rem;
        width:40rem
    }
  

    select {
        width: 80%;
        margin: 0 auto; 
        height:2rem
      }
  
}
