@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); /*TITLES*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap'); /*PARAGRAPHS*/
*{
  margin: 0;
 padding:0;
 box-sizing: border-box;
}

